body {
    margin: 2em auto;
    max-width: 50em;
  }

.imagen {
    width: 250px;
    float: right;
    margin-left: 1.5em;
    margin-bottom: 0.75em;
}

section, article, button, p {
    cursor: pointer;
}

section, article, button {
    padding: 1em;
}

section, article {
    border: 1px dotted gray;
    background-color: ghostwhite;
}

header, footer, .centrado {
    text-align: center;
}

#a2 {
    margin-top: 1em;
}

#b1 {
    margin-top: 2em;
    width: 175px;
}

.clear, br {
    clear: both;
}
