@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

body {
  margin: 2em auto;
  max-width: 50em;
}

h1,
h2,
button {
  color: DarkSlateBlue !important;
}

button {
  cursor: pointer;
  margin: 0.5em 0.5em;
  width: 140px;
  background-color: Lavender;
  padding-top: 1.2em !important;
}

button:hover {
  background-color: #d6d6fa;
}

button:disabled {
  color: DarkGray !important;
  background-color: WhiteSmoke;
}

button:hover:disabled {
  cursor: not-allowed;
}

section,
article,
button {
  padding: 1em;
}

section,
article {
  border: 1px dotted gray;
}

section {
  margin-top: 1em;
  background-color: WhiteSmoke;
}

article {
  margin-bottom: 1em;
  background-color: white;
}

header,
footer p,
nav {
  text-align: center;
}

.bi {
  font-size: 1.2rem;
  vertical-align: sub;
}

.resaltar {
  background-color: LemonChiffon;
}

.resaltar:hover {
  background-color: #fffaad;
}
