body {
    margin: 2em auto;
    max-width: 50em;
}

h1 {
    color: darkblue !important;
}

button {
    padding: 0.5em;
    margin: 0 0.5em;
    width: 200px;
    height: 40px;
    text-transform: uppercase;
    cursor: pointer;
}

legend, #enviar {
    background-color:SteelBlue;
    color: white;
    border: 1px solid LightSteelBlue;
}

#borrar {
    background-color: aliceblue;
    color: SteelBlue;
    border: 1px solid SteelBlue;
}

fieldset {
    background-color: aliceblue;
    margin-bottom: 1em;
    border: 1px solid LightSteelBlue;
}

input, select {
    width: 230px;
    padding: 0 10px;
    border: 1px solid LightSteelBlue;
}

input {
    height: 30px;
}

label, .etiqueta {
    color: SteelBlue;
}

select {
    padding: 6px;
    width: 252px;
    background-color: white;
}

textarea {
    border: 1px solid LightSteelBlue;
    width: 99% !important;
}

.obligatorio {
    color: red;
}

#hombre, #mujer, #color {
    width: auto;
    height: auto;
    margin: auto;
    margin-left: 0.5em;
    padding: 1em;
}

#color {
    width: 25px;
    height: 25px;
    padding: 0;

}

#curiosidad {
    width: 100%;
}

.campos {
    margin: 0.5em 0;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: flex-start;
}

.campo {
    text-align: right;
    flex: 1 45%;
}