body {
  margin: 2em auto;
  max-width: 95%;
  text-align: center;
  background-image: url("../img/dogs.png");
}

@font-face {
  font-family: "Perritos";
  src: url("../fonts/puppybellies.medium.ttf") format("truetype");
  /* by: bythebutterfly - http://bythebutterfly.com
    font: https://www.1001fonts.com/puppybellies-font.html */
}

h1,
a,
.letras {
  font-family: "Perritos";
  color: darkcyan;
}

h1 {
  font-size: 3em;
  margin-top: 0.5em;
  margin-bottom: 0.25em;
  text-shadow: 2px 2px 0px #ffffff, -2px -2px 0px #ffffff, -2px 2px 0px #ffffff,
    2px -2px 0px #ffffff, 4px 4px 4px rgba(0, 0, 0, 0.25);
}

h1::before {
  content: '} ';
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#enviar {
  padding: 3px 6px 0;
  font-size: 1.5em;
  height: 42px;
  vertical-align: bottom;
  color: white;
  background-color: darkcyan;
  border: 2.5px solid white;
  border-radius: 50%;
  cursor: pointer;
}

#enviar::before {
  content: '+';
}

#enviar:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 3px 3px 3px;
}

#enviar:disabled {
  background-color: darkgray;
}

footer p .letras {
  font-size: 4em;
}

footer p .letras::before {
  content: '{';
}

#perrito {
  width: 80%;
  max-width: 300px;
  height: auto;
  padding: 15px;
  margin: 0 0.25em 2em;
  background-color: Snow;
  transform: rotate(-2deg);
}

#lista {
  padding: 0 1.5em;
  width: 200px;
  height: 40px;
  font-size: 1em;
  border: none;
  border-radius: 22px;
  box-shadow: inset 3px 3px 8px rgba(0, 0, 0, 0.25);
}

#lista:focus {
    outline: 2px solid LightSeaGreen;
}

#galeria {
  margin-top: 3.5em;
  margin-bottom: 3em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  gap: 3em 2em;
}

.foto {
  width: 100%;
  max-width: 200px;
  height: auto;
  padding: 15px;
  background-color: Snow;
  align-self: center;
  transition: transform .2s;
}

.foto:hover {
    transform: scale(1.2) rotate(2deg);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

#perrito,
.foto {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.cuenta {
  font-size: 1.25em;
  font-family: Arial, Helvetica, sans-serif;
  color: DimGray;
}

footer {
  margin-top: 3em;
  margin-bottom: 3em;
}

footer p {
  margin-top: 0;
  margin-bottom: 0;
}

#zona {
  display: none;
  z-index: 1;
  min-width: 100vw;
  position: absolute;
  position: fixed;
  bottom: 4em;
  left: 0;
}

.spinner {
  margin: 0 auto;
  border: 5px solid rgba(0, 0, 0, 0.15);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border-left-color: LightSeaGreen;

  animation: spin 1s ease infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media (min-width: 576px) {
  body {
    max-width: 80%;
  }

  h1 {
    font-size: 5em;
  }

  #perrito {
    padding: 20px;
  }

  #lista {
    width: 300px;
  }
}