body {
  margin: 2em auto;
  max-width: 50em;
}

header {
  text-align: center;
}

main {
    margin: 2em, 0;
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1em;
}

article {
  width: 20%;
  min-width: 250px;
  background-color: aliceblue;
  padding: 0.5em;
  text-align: center;
}
